# Node
node_modules/
.npm/
# Python
__pycache__/
.env
.venv/
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
# VS Code
.vscode/
# OS
.DS_Store
Thumbs.db
.zip

# build and artifact directories
.build/
.artifacts/

